@model Class

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot.ClassNumber)
        </dd>
        <dt class="col-sm-2">
            Week Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekType)
        </dd>
        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FullName)
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            Group
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
