@using CampusFlow.Extensions;
@model List<ScheduleViewModel>

@{
    ViewData["Title"] = "Current Week Schedule";
    var today = DateTime.Today;
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="EditableIndex">Edit schedule</a>

    <form asp-action="Index" class="col-md-4" method="get">
        <div class="form-group mt-4">
            <label for="groupFilter">Filter:</label>
            <select class="form-control" name="groupSelected" asp-items="@ViewBag.Groups">
            </select>
            <select class="form-control" name="weekTypeSelected">
                <option value="Odd" selected="@((WeekType)ViewBag.SelectedWeekType == WeekType.Odd)">Odd</option>
                <option value="Even" selected="@((WeekType)ViewBag.SelectedWeekType == WeekType.Even)">Even</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    @foreach(var date in ViewBag.CurrentDates)
                    {
                        <th>@date.ToString("dddd, dd MMMM")</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var timeSlot in ViewBag.TimeSlots)
                {
                    <tr>
                        <td>
                            <center>
                                <h4>@timeSlot.ClassNumber</h4>
                                @timeSlot.StartTime.ToString(@"hh\:mm") - @timeSlot.EndTime.ToString(@"hh\:mm")
                            </center>
                        </td>
                        @foreach (var date in ViewBag.CurrentDates)
                        {
                            var schedule = Model.FirstOrDefault(s =>
                                s.TimeSlot.Id == timeSlot.Id &&
                                s.DayOfWeek == date.DayOfWeek);
                            <td
                            @if(date.Equals(today))
                            {
                                <text> class="active-day"</text>   
                            }
                            >
                                @if (schedule != null)
                                {
                                    <a asp-controller="Attendance" asp-action="Index" 
                                        asp-route-scheduleDateId="@schedule.ScheduleDateId">
                                                    <div class="schedule-slot">
                                            @(schedule != null ? $"{schedule.ClassName} ({schedule.TeacherName})" : "")
                                        </div>
                                    </a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <form method="post" action="/">
        <input type="hidden" name="startDate" value="@ViewBag.StartDate"/>
        <input type="submit" name="backward" value="true"/>
        <input type="submit" name="forward" value="true" />
    </form>

</div>
