@model IEnumerable<ScheduleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="controls">
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-action="Index" method="get" class="d-inline-flex">
        <div class="form-group">
            Week:
            <select type="text" name="isOddWeek" class="form-control">
                @if(ViewBag.IsOddWeek)
                {
                    <option id="odd" value="true" selected>Odd</option>
                    <option id="even" value="false">Even</option>
                }
                else
                {
                    <option id="odd" value="true">Odd</option>
                    <option id="even" value="false" selected>Even</option>
                }
            </select>
        </div>

        <div class="form-group">
            Group:
            <select type="text" name="groupSelected" class="form-control" asp-items="ViewBag.Group"></select>
        </div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </form>
</div>

<div class="table-responsize">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @foreach (var day in ViewBag.Days)
                {
                    <th>
                        @day
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int day = 1;
                <tr>
                    <td>
                        <center>
                        <h4>@item.TimeSlot.ClassNumber</h4>
                            @item.TimeSlot.StartTime.ToString(@"hh\:mm") - @item.TimeSlot.EndTime.ToString(@"hh\:mm")
                        </center>
                    </td>
                    @foreach (var schedule in item.Schedules)
                    {
                        @while ((int) schedule.DayOfWeek != day)
                        {
                            day++;
                            <td>
                            </td>
                        }
                        <td>
                            <div class="schedule-slot">
                                <div class="schedule-text">
                                    @schedule.Subject.Name
                                    <br />
                                    <i>@schedule.ClassType</i>
                                    <br />
                                    @schedule.Teacher.FullName
                                    <br />
                                    @schedule.Location
                                </div>
                                <div class="buttons">
                                    <a asp-action="Edit" asp-route-id="@schedule.Id">
                                        <img src="img/editing.png" alt="edit" width="20"/>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@schedule.Id">
                                        <img src="img/delete.png" alt="delete" width="20"/>
                                    </a>
                                </div>
                            </div>
                        </td>
                        day++;
                    }
                    @while (day != 6)
                    {
                        day++;
                        <td>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

