@model IEnumerable<TimeSlot>

@{
    ViewData["Title"] = "Time slots";
}

<h1>Time slots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TimeSlotId" style="text-decoration: none; margin-right: 15px">
                        <img src="img/editing.png" alt="edit" width="20" />
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.TimeSlotId" style="text-decoration: none;">
                        <img src="img/delete.png" alt="delete" width="17" />
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
