@model IEnumerable<ClassCycleViewModel>

@{
    ViewData["Title"] = "Classes";
    DayOfWeek today = DateTime.Now.DayOfWeek;
}

<h1>Classes</h1>

<div class="controls">
    <form asp-action="Index" method="get" class="d-inline-flex filter left-align">
        <div class="form-group">
            Week:
            <select id="weektype-select" type="text" name="weektype" class="form-control">
                <option value="Odd">Odd</option>
                <option value="Even">Even</option>
            </select>
        </div>

        <div class="form-group">
            Group:
            <select type="text" name="groupSelected" class="form-control" asp-items="ViewBag.Group"></select>
        </div>
        <input type="submit" value="Update" class="btn btn-primary filter-btn" />
    </form>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @foreach (var date in ViewBag.Dates)
                {
                    <th>@date.DayOfWeek | @date.ToString("dd/MM")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int day = 1;
                <tr>
                    <td>
                        <center>
                            <h4>@item.TimeSlot.ClassNumber</h4>
                            @item.TimeSlot.StartTime.ToString(@"hh\:mm") - @item.TimeSlot.EndTime.ToString(@"hh\:mm")
                        </center>
                    </td>
                    @foreach (var studyClass in item.Classes.OrderBy(c => c.Class.DayOfWeek))
                    {
                        while ((int) studyClass.Class.DayOfWeek > day)
                        {
                            <td @if (day == (int) today)
                            {
                                <text>class="active-day"</text>
                            }>
                            </td>
                            day++;
                        }
                        <td @if (day == (int)today)
                        {
                            <text>class="active-day"</text>
                        }>
                            <a asp-controller="Attendance" asp-action="Index" asp-route-classId="@studyClass.Id" style="text-decoration: none; margin-right: 15px">
                                <div class="schedule-slot">
                                    <div class="schedule-text">
                                    @studyClass.Class.Subject.Name<br />
                                        <i>@studyClass.Class.ClassType</i><br />
                                    @studyClass.Class.Teacher.FullName<br />
                                    @studyClass.Class.Location
                                    </div>
                                </div>
                            </a>
                        </td>
                        day++;
                    }
                    @while (day <= 5)
                    {
                        <td @if (day == (int)today)
                        {
                            <text>class="active-day"</text>
                        }>
                        </td>
                        day++;
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var weekType = "@ViewBag.WeekType"; // get the week type from ViewBag

    // set the selected option based on the week type
    if (weekType === "Odd") {
        document.getElementById("weektype-select").value = "Odd";
    } else if (weekType === "Even") {
        document.getElementById("weektype-select").value = "Even";
    }
</script>
