@model IEnumerable<CampusFlow.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Group.Name | @ViewBag.ScheduleInfo.Date.ToString("ddd, dd.MM.yyyy") | @ViewBag.ScheduleInfo.Schedule.Class.Name</h1>

<form asp-action="UpdateAll" method="post">
    <button type="submit" class="btn btn-primary">Update selected records</button>
    <input type="hidden" name="scheduleDateId" value="@Model.Select(model => model.ScheduleDateId).First()"/>
    <input type="hidden" name="groupId" value="@ViewBag.Group.Id" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPresent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td>
                        <input type="checkbox" name="attendanceStatuses[@item.Student.Id]" value="true" @(item.IsPresent ? "checked" : "") />
                        <input type="hidden" name="attendanceStatuses[@item.Student.Id]" value="false" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>